fieldset{
  width: 80%;
}

.dropdown-item:hover {
  background-color: #cceeb0 !important; 
  color: #fff !important; 
}

.card-itens{
  background-color: #6bae6d; 
  color: #FAFAFA;
}

body {
  background-color: #FAFAFA;
  font-family: Arial, sans-serif; 
}

header {
  background-color: #4CAF50;
}

.fundo-laranja {
  background-color: #FF9800; 
}

.btn:hover {
  background-color: #6bae6d;
}